<include  file ="Public/centerhead"/>
<div class="center-left">

    <div class="pi">
        <div class="cl-div  cl-focus">
            <a href="{:U('Center/index')}"><div class="cl-index cl-title">我的首页</div></a>
        </div>
    </div>
    <div class="pi">
        <div class="cl-div  hasnenu">
            <div class="cl-trade cl-title">交易中心</div>
            <div class="arrow-down"></div>
        </div>
        <div class="cl-set-info" style="display: none;">
            <ul>
                <li><a href="{:U('Trade/recharge')}">充值记录</a></li>
                <li><a href="{:U('Trade/record')}">交易记录</a></li>
                <li><a href="{:U('Trade/recive')}">收到礼物</a></li>
            </ul>
        </div>
    </div>
    <div class="pi">
        <div class="cl-div  ">
            <a href="{:U('FriendList/index')}"><div class="cl-care cl-title">我的关注</div></a>
        </div>
    </div>
    <div class="pi">
        <div class="cl-div ">
            <a href="{:U('Message/index')}"><div class="cl-notice cl-title">消息中心</div></a>
        </div>
    </div>
   <!-- <div class="pi">
        <div class="cl-div ">
            <a href="/centeros.php?ptype=treasure"><div class="cl-treasure cl-title">我的财富</div></a>
        </div>
    </div>-->

    <div class="pi">
        <div class="cl-div hasnenu">
            <div class="cl-setting cl-title">我的设置</div>
            <div class="arrow-down"></div>
        </div>
        <div class="cl-set-info hidden">

            <ul>
                <li><a href="{:U('Personinfo/info')}">基本资料</a></li>
                <li><a href="{:U('Personinfo/avatar')}">修改头像</a></li>
                <li><a href="{:U('Personinfo/passwd')}">修改密码</a></li>
                <li><a href="{:U('Personinfo/myphone')}">绑定手机</a></li>
            </ul>
        </div>
    </div>

</div>
    <div class="center-right">
        <div class="mindex-title">我的首页</div>
        <div class="mindex-level-area">
            <div class="titleee"><span class="lev-inf">等级信息</span><span class="blank-btline"></span></div>
            <div class="info-middle active-level">
                <div class="c-mylevel">活跃等级</div>
                <div class="c-level-bar">
                    <div class="center-level activelevel sprite activelevel-pic_activelevel_{$dj['active']}"></div>
                    <div class="c-all-bars">
                        <div class="c-i-bar" style="width:{$dj['nextActive']}%"></div>
                    </div>
                    <div class="center-level  activelevel sprite activelevel-pic_activelevel_{$dj['active']+1}"></div>
                </div>
                <div class="c-level-message" style="margin-left:30px; ">还差{$dj.activeDiffer}经验升级 </div>
            </div>

            <div class="info-middle  mindex-level">
                <div class="c-mylevel">我的爵位</div>
                <div class="c-level-bar">
                    <div class="center-level sprite consumelevel-pic_consumelevel_{$dj['spender']}"></div>
                    <div class="c-all-bars">
                        <div class="c-i-bar" style="width:{$dj['nextSpender']}%"></div>
                    </div>
                    <div class="center-level sprite consumelevel-pic_consumelevel_{$dj['spender']+1}"></div>
                </div>
                <div class="c-level-message">再消费{$dj['differ']}蚪币将升级</div>
            </div>
        </div>

        <div class="mindex-else-title"> 我守护的</div>
        <div class="mycare-list">
                    </div>
        <div class="mindex-else-title"> 我的进场特效</div>
            <div class="mcar-list">

                                    <div class="mcar-box">
                        <div class="mcar-left">
                            <div class=""><img src="http://img.kedo.tv/4e3b51a49b2ab9ffaded9d525ca03890?g=1"></div>
                        </div>
                        <div class="mcar-right">
                            <div class="mcar-right-1 clearFix"><span class="car-name">蝌蚪骑士 </span><span class="xufei">续费</span></div>
                            <div class="mcar-right-2 clearFix">剩余天数：<span>天</span></div>
                            <div class="mcar-right-3 learFix">尚未拥有</div>
                        </div>
                    </div>
                                    <div class="mcar-box">
                        <div class="mcar-left">
                            <div class=""><img src="http://img.kedo.tv/992d9667913729472c1bc2e0d5d7df5d?g=1"></div>
                        </div>
                        <div class="mcar-right">
                            <div class="mcar-right-1 clearFix"><span class="car-name">青蛙骑士 </span><span class="xufei">续费</span></div>
                            <div class="mcar-right-2 clearFix">剩余天数：<span>天</span></div>
                            <div class="mcar-right-3 learFix">尚未拥有</div>
                        </div>
                    </div>
                                    <div class="mcar-box">
                        <div class="mcar-left">
                            <div class=""><img src="http://img.kedo.tv/ce16b40d15e649fb945253f79c8b9ea4?g=1"></div>
                        </div>
                        <div class="mcar-right">
                            <div class="mcar-right-1 clearFix"><span class="car-name">青蛙国王 </span><span class="xufei">续费</span></div>
                            <div class="mcar-right-2 clearFix">剩余天数：<span>天</span></div>
                            <div class="mcar-right-3 learFix">尚未拥有</div>
                        </div>
                    </div>
                                    <div class="mcar-box">
                        <div class="mcar-left">
                            <div class=""><img src="http://img.kedo.tv/c5090ea391419bc128e90719325d62be?g=1"></div>
                        </div>
                        <div class="mcar-right">
                            <div class="mcar-right-1 clearFix"><span class="car-name">青铜守护 </span><span class="xufei">续费</span></div>
                            <div class="mcar-right-2 clearFix">剩余天数：<span>天</span></div>
                            <div class="mcar-right-3 learFix">尚未拥有</div>
                        </div>
                    </div>
                                    <div class="mcar-box">
                        <div class="mcar-left">
                            <div class=""><img src="http://img.kedo.tv/4dca91511800d2bd690ec6ae1b28a156?g=1"></div>
                        </div>
                        <div class="mcar-right">
                            <div class="mcar-right-1 clearFix"><span class="car-name">白银守护 </span><span class="xufei">续费</span></div>
                            <div class="mcar-right-2 clearFix">剩余天数：<span>天</span></div>
                            <div class="mcar-right-3 learFix">尚未拥有</div>
                        </div>
                    </div>
                                    <div class="mcar-box">
                        <div class="mcar-left">
                            <div class=""><img src="http://img.kedo.tv/1497f33ec1602182291e91102a8f1126?g=1"></div>
                        </div>
                        <div class="mcar-right">
                            <div class="mcar-right-1 clearFix"><span class="car-name">黄金守护 </span><span class="xufei">续费</span></div>
                            <div class="mcar-right-2 clearFix">剩余天数：<span>天</span></div>
                            <div class="mcar-right-3 learFix">尚未拥有</div>
                        </div>
                    </div>
                
            </div>
        <div class="clear"></div>

    </div>
</div>
    <!--main-->
<include file="Public/footer" />

<script>
    seajs.use("ajax/usecar");
</script>
    
    </body></html>