<include  file ="Public/centerhead"/>
<div class="center-left">
    <div class="pi">
        <div class="cl-div  ">
            <a href="{:U('Center/index')}"><div class="cl-index cl-title">我的首页</div></a>
        </div>
    </div>
    <div class="pi">
        <div class="cl-div  hasnenu ">
            <div class="cl-trade cl-title">交易中心</div>
            <div class="arrow-down"></div>
        </div>
        <div class="cl-set-info" style="display: none;">
            <ul>
                <li><a href="{:U('Trade/recharge')}">充值记录</a></li>
                <li><a href="{:U('Trade/record')}">交易记录</a></li>
                <li><a href="{:U('Trade/recive')}">收到礼物</a></li>
            </ul>
        </div>
    </div>
    <div class="pi">
        <div class="cl-div  ">
            <a href="{:U('FriendList/index')}"><div class="cl-care cl-title">我的关注</div></a>
        </div>
    </div>
    <div class="pi">
        <div class="cl-div ">
            <a href="{:U('Message/index')}"><div class="cl-notice cl-title">消息中心</div></a>
        </div>
    </div>
    <!-- <div class="pi">
         <div class="cl-div ">
             <a href="/centeros.php?ptype=treasure"><div class="cl-treasure cl-title">我的财富</div></a>
         </div>
     </div>-->

    <div class="pi">
        <div class="cl-div hasnenu cl-focus">
            <div class="cl-setting cl-title ">我的设置</div>
            <div class="arrow-down"></div>
        </div>
        <div class="cl-set-info hidden">

            <ul>
                <li><a href="{:U('Personinfo/info')}">基本资料</a></li>
                <li><a href="{:U('Personinfo/avatar')}">修改头像</a></li>
                <li><a href="{:U('Personinfo/passwd')}">修改密码</a></li>
                <li><a href="{:U('Personinfo/myphone')}">绑定手机</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<!--main-->
<div class="inmiddle">


    <script src="__PUBLIC__/center/js/sea.js"></script>
    <script>

    </script>

    <div class="center-right">
        <div class="cr-basics" style="">
            <div class="cr-title">基本资料</div>

            <form class="J_profile_form" action="__CONTROLLER__/update" method="post">
            <table id="info-table">
                <tr  class="cr-hline">
                    <td class="n-type">昵称：</td>
                    <td class="" colspan="3">
                        <input type="text" name="nickname" id="aliasname"   value="{$user['nickname']|urldecode}"/>
                    </td>
                </tr>
                <tr class="cr-hline">
                    <td  class="n-type">
                        <span>性别：</span>
                    </td>
                    <td colspan="3">
                        <if condition="$user['Gender'] == '1'">
                            <label class="mr20"><input name="gender" type="radio" value="1" checked />男</label>
                            <label class="mr20"><input name="gender" type="radio" value="0" />女</label>
                            <else />
                            <label class="mr20"><input name="gender" type="radio" value="1" />男</label>
                            <label class="mr20"><input name="gender" type="radio" value="0" checked />女</label>
                        </if>
                    </td>
                </tr>
                <tr class="cr-hline">
                    <td class="n-type">所在地：</td>
                    <td>
                        <select name="province" id="province"></select>
                    </td>
                    <td>
                        <select name="city"  id="city"></select>
                    </td>
                    <!--<td>-->
                        <!--<select name="county" id="county"></select>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input type="radio" name="issecret" id="" value="1">保密 <input type="radio" name="issecret" value="2" />公开-->
                    <!--</td>-->
                </tr>

                <tr class="cr-hline">
                    <td class="n-type">生日：</td>
                    <td> <select id="sel_year" name="year"   ></select></td>
                    <td> <select  id="sel_month" name="month"></select> </td>
                    <td> <select id="sel_day" name="day"></select></td>

                    <!--<input   name="birthday" value="{$user['birthday']|date='Y-m-d',###}" type="text" data-date-format="dd-mm-yyyy" />　-->

                </tr>
                <tr class="cr-hline">
                    <td  class="n-type"> <td colspan="3"><button id="submits" >保存</button></td>
                </tr>
            </table>
            </form>
        </div>
    </div>
    <!--main-->
</div>
<!--birthday-->
<script type="text/javascript" src="__PUBLIC__/personinfo/js/birthday.js"></script>
    <script>
        $(function () {
            $.ms_DatePicker({
                YearSelector: ".sel_year",
                MonthSelector: ".sel_month",
                DaySelector: ".sel_day"
            });
            $.ms_DatePicker();
        });
    </script>

<!--city-->
<script type="text/javascript"  src="__PUBLIC__/personinfo/js/area.js"></script>
<script type="text/javascript">_init_area('.$city.');</script>';
<!--main-->

<include file="Public/footer" />

</body>
</html>