<html>
<head>
<meta charset="utf-8">
<link href="__PUBLIC__/css/anchor-level.css" rel="stylesheet">
<title>广场-蝌蚪直播</title>
<meta property="qc:admins" content="105415766763547646">
<meta name="description" content="超人气视频直播互动娱乐社区，在这里你可以展示自己的才艺，也可以跟众多优秀的美女主播在线互动聊天、视频交友">
<link data-fixed="true" href="__PUBLIC__/css/square.css" rel="stylesheet">
<link href="__PUBLIC__/css/icons.css" rel="stylesheet">
<link href="__PUBLIC__/css/index.css" rel="stylesheet">
<link href="__PUBLIC__/css/login.css" type="text/css" rel="stylesheet">
</head>
<body style="zoom: 1;">
<include file="Public/header" />

	<div class="head-outer btline">
		<div class="header clearFix">
			<a class="hd_bg fl" href="/"></a>
			<ul class="nav fl">
				<li class="fl "><a href="__MODULE__">首页</a></li>
				<li class="fl "><a href="{:U('Square/square')}">广场</a></li>
				<li class="fl "><a href="{:U('Mall/mall')}">商城</a></li>
				<li class="fl cu"><a href="#">排行榜</a></li>
			</ul>

			<include file="Public/head" />
		</div>
	</div>

	<div class="main-order">
		<div class="order-list">
			<div class="order-box-outer charmList">
				<div class="order-title">
					<div class="order-title-h1">
						主播魅力榜
						<div class="order-title-bg"></div>
					</div>
				</div>
				<ul id="orderTit">
					<li class="active">总榜</li>
					<li>月榜</li>
					<li>日榜</li>
				</ul>

				<div class="order-box-bg" id="orderBody">
					<div class="order-box-content">
						<div class="orderItem cur">
							<div class="order-box-top">

								<a href="/.html" class="order-box-second">
									<div class="order-second-img">
										<img class="rank_pho"
											src="http://img.kedo.tv/d5feef62c58c4048e42c16ca63a61987"
											alt="苦艾酒"> <span class="secondCrown"></span>
									</div>
									<div class="order-first-name">
										<span class="sec sprite consumelevel-pic_consumelevel_7"></span>苦艾酒
									</div>
									<div class="order-second-level">
										<span></span>
									</div>
								</a> <a href="/.html" target="_blank" class="order-box-first">
									<div class="order-first-img">
										<img class="rank_pho"
											src="http://img.kedo.tv/128474f5fa24aac08adf87c316f3c091"
											alt="小耳朵增可爱"> <span class="crown"></span> <span
											class="crown"></span>
									</div>
									<div class="order-first-name">
										<span class="sec sprite liverlevel-pic_liverlevel_24"></span>小耳朵增可爱
									</div>
									<div class="order-first-level">
										<span></span>
									</div>
								</a> <a href="/.html" class="order-box-third">
									<div class="order-third-img">
										<img class="rank_pho"
											src="http://img.kedo.tv/2c7b5b68ce3f4978df3fee6838ab7111"
											alt="昨天的事情"> <span class="thirdCrown"></span>
									</div>
									<div class="order-first-name">
										<span class="sec sprite liverlevel-pic_liverlevel_22"></span>昨天的事情
									</div>
									<div class="order-third-level">
										<span></span>
									</div>
								</a>
							</div>
							<div class="clear"></div>
							<div class="order-box-bottom">
								<ul>
									<li><a href="/.html" target="_blank"> <span
											class="number">4.</span> <span
											class="diamond sprite sprite consumelevel-pic_consumelevel_2"></span>
											<span class="order-second-name">赞义大王</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">5.</span> <span
											class="diamond sprite sprite consumelevel-pic_consumelevel_1"></span>
											<span class="order-second-name">头大大</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">6.</span> <span
											class="diamond sprite sprite consumelevel-pic_consumelevel_0"></span>
											<span class="order-second-name">春天的雪花</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">7.</span> <span
											class="diamond sprite sprite consumelevel-pic_consumelevel_0"></span>
											<span class="order-second-name">别问我是谁</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">8.</span> <span
											class="diamond sprite sprite consumelevel-pic_consumelevel_0"></span>
											<span class="order-second-name">晒太阳一号</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">9.</span> <span class="diamond sprite "></span>
											<span class="order-second-name">~姐很~自然~</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">10.</span> <span class="diamond sprite "></span>
											<span class="order-second-name">白糖✔</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">11.</span> <span class="diamond sprite "></span>
											<span class="order-second-name">rongrong</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">12.</span> <span class="diamond sprite "></span>
											<span class="order-second-name">爱，你懂吗</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">13.</span> <span class="diamond sprite "></span>
											<span class="order-second-name">不见不散</span>
									</a></li>
									<li><a href="/.html" target="_blank"> <span
											class="number">14.</span> <span class="diamond sprite "></span>
											<span class="order-second-name">淡伤</span>
									</a></li>

								</ul>
							</div>
						</div>
						<div class="orderItem">
							<div class="order-box-top">
								<a href="javascript:;" class="order-box-second">
									<div class="order-second-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="secondCrown"></span>
									</div>
									<div class="order-second-name">梁胖胖跳脱衣舞</div>
									<div class="order-second-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-first">
									<div class="order-first-img">
										<img src="/skin/ym/images/fff1.png"> <span class="crown"></span>
									</div>
									<div class="order-first-name">梁胖胖跳脱衣舞</div>
									<div class="order-first-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-third">
									<div class="order-third-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="thirdCrown"></span>
									</div>
									<div class="order-third-name">梁胖胖跳脱衣舞</div>
									<div class="order-third-level">
										<span></span>
									</div>
								</a>
							</div>
							<div class="clear"></div>
							<div class="order-box-bottom">
								<ul>
									<li><a href="javascript:;"> <span class="number">4.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">5.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">6.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">7.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">8.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">9.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">10.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">11.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">12.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">13.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">14.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">15.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
								</ul>
							</div>
						</div>
						<div class="orderItem">
							<div class="order-box-top">
								<a href="javascript:;" class="order-box-second">
									<div class="order-second-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="secondCrown"></span>
									</div>
									<div class="order-second-name">梁胖胖跳脱衣舞</div>
									<div class="order-second-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-first">
									<div class="order-first-img">
										<img src="/skin/ym/images/fff1.png"> <span class="crown"></span>
									</div>
									<div class="order-first-name">梁订单胖胖跳脱衣舞</div>
									<div class="order-first-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-third">
									<div class="order-third-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="thirdCrown"></span>
									</div>
									<div class="order-third-name">梁胖胖跳脱衣舞</div>
									<div class="order-third-level">
										<span></span>
									</div>
								</a>
							</div>
							<div class="clear"></div>
							<div class="order-box-bottom">
								<ul>
									<li><a href="javascript:;"> <span class="number">4.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">5.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">6.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">7.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">8.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">9.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">10.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">11.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">12.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">13.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">14.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">15.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="order-box-outer">
				<div class="order-title">
					<div class="order-title-h1">
						爵位榜
						<div class="order-title-bg"></div>
					</div>
				</div>

				<ul id="orderTit">
					<li class="active">总榜</li>
					<li>月榜</li>
					<li>日榜</li>
				</ul>

				<div class="order-box-bg" id="orderBody">
					<div class="order-box-content">
						<div class="orderItem cur">
							<div class="order-box-top">

								<a href="javascript:;" class="order-box-second">
									<div class="order-second-img">
										<img class="rank_pho"
											src="http://img.kedo.tv/d5feef62c58c4048e42c16ca63a61987"
											alt="苦艾酒"> <span class="secondCrown"></span>
									</div>
									<div class="order-first-name">
										<span class="sec sprite consumelevel-pic_consumelevel_7"></span>苦艾酒
									</div>
									<div class="order-second-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-first">
									<div class="order-first-img">
										<img class="rank_pho"
											src="http://img.kedo.tv/128474f5fa24aac08adf87c316f3c091"
											alt="小耳朵增可爱"> <span class="crown"></span> <span
											class="crown"></span>
									</div>
									<div class="order-first-name">
										<span class="sec sprite consumelevel-pic_consumelevel_12"></span>小耳朵增可爱
									</div>
									<div class="order-first-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-third">
									<div class="order-third-img">
										<img class="rank_pho"
											src="http://img.kedo.tv/2c7b5b68ce3f4978df3fee6838ab7111"
											alt="昨天的事情"> <span class="thirdCrown"></span>
									</div>
									<div class="order-first-name">
										<span class="sec sprite consumelevel-pic_consumelevel_7"></span>昨天的事情
									</div>
									<div class="order-third-level">
										<span></span>
									</div>
								</a>

							</div>
							<div class="clear"></div>
							<div class="order-box-bottom">
								<ul>

									<li><a href="javascript:;"> <span class="number">4.</span>
											<span
											class="diamond sprite sprite consumelevel-pic_consumelevel_2"></span>
											<span class="order-second-name">赞义大王</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">5.</span>
											<span
											class="diamond sprite sprite consumelevel-pic_consumelevel_1"></span>
											<span class="order-second-name">头大大</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">6.</span>
											<span
											class="diamond sprite sprite consumelevel-pic_consumelevel_0"></span>
											<span class="order-second-name">春天的雪花</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">7.</span>
											<span
											class="diamond sprite sprite consumelevel-pic_consumelevel_0"></span>
											<span class="order-second-name">别问我是谁</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">8.</span>
											<span
											class="diamond sprite sprite consumelevel-pic_consumelevel_0"></span>
											<span class="order-second-name">晒太阳一号</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">9.</span>
											<span class="diamond sprite "></span> <span
											class="order-second-name">~姐很~自然~</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">10.</span>
											<span class="diamond sprite "></span> <span
											class="order-second-name">白糖✔</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">11.</span>
											<span class="diamond sprite "></span> <span
											class="order-second-name">rongrong</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">12.</span>
											<span class="diamond sprite "></span> <span
											class="order-second-name">爱，你懂吗</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">13.</span>
											<span class="diamond sprite "></span> <span
											class="order-second-name">不见不散</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">14.</span>
											<span class="diamond sprite "></span> <span
											class="order-second-name">淡伤</span>
									</a></li>

								</ul>
							</div>
						</div>
						<div class="orderItem">
							<div class="order-box-top">
								<a href="javascript:;" class="order-box-second">
									<div class="order-second-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="secondCrown"></span>
									</div>
									<div class="order-second-name">梁胖胖跳脱衣舞</div>
									<div class="order-second-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-first">
									<div class="order-first-img">
										<img src="/skin/ym/images/fff1.png"> <span class="crown"></span>
									</div>
									<div class="order-first-name">梁胖问问胖跳脱衣舞</div>
									<div class="order-first-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-third">
									<div class="order-third-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="thirdCrown"></span>
									</div>
									<div class="order-third-name">梁胖胖跳脱衣舞</div>
									<div class="order-third-level">
										<span></span>
									</div>
								</a>
							</div>
							<div class="clear"></div>
							<div class="order-box-bottom">
								<ul>
									<li><a href="javascript:;"> <span class="number">4.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">5.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">6.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">7.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">8.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">9.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">10.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">11.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">12.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">13.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">14.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">15.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
								</ul>
							</div>
						</div>
						<div class="orderItem">
							<div class="order-box-top">
								<a href="javascript:;" class="order-box-second">
									<div class="order-second-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="secondCrown"></span>
									</div>
									<div class="order-second-name">梁胖胖跳脱衣舞</div>
									<div class="order-second-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-first">
									<div class="order-first-img">
										<img src="/skin/ym/images/fff1.png"> <span class="crown"></span>
									</div>
									<div class="order-first-name">梁胖胖跳脱11衣舞</div>
									<div class="order-first-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-third">
									<div class="order-third-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="thirdCrown"></span>
									</div>
									<div class="order-third-name">梁胖胖跳脱衣舞</div>
									<div class="order-third-level">
										<span></span>
									</div>
								</a>
							</div>
							<div class="clear"></div>
							<div class="order-box-bottom">
								<ul>
									<li><a href="javascript:;"> <span class="number">4.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">5.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">6.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">7.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">8.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">9.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">10.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">11.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">12.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">13.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">14.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">15.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="order-box-outer">
				<div class="order-title">
					<div class="order-title-h1">
						粉丝活跃榜
						<div class="order-title-bg"></div>
					</div>
				</div>

				<ul id="orderTit">
					<li class="active">总榜</li>
					<li>月榜</li>
					<li>日榜</li>
				</ul>

				<div class="order-box-bg" id="orderBody">
					<div class="order-box-content">
						<div class="orderItem cur">
							<div class="order-box-top">

								<a href="javascript:;" class="order-box-second">
									<div class="order-second-img">

										<img class="rank_pho"
											src="http://img.kedo.tv/128474f5fa24aac08adf87c316f3c091"
											alt="小耳朵增可爱"> <span class="secondCrown"></span>
									</div>
									<div class="order-first-name">
										<span class="sec sprite activelevel-pic_activelevel_6"></span>小耳朵增可爱
									</div>
									<div class="order-second-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-first">
									<div class="order-first-img">
										<img class="rank_pho"
											src="http://img.kedo.tv/b809265e1afc3a737571664bfa294eec"
											alt="淡淡DE"> <span class="crown"></span> <span
											class="crown"></span>
									</div>
									<div class="order-first-name">
										<span class="sec sprite activelevel-pic_activelevel_8"></span>淡淡DE
									</div>
									<div class="order-first-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-third">
									<div class="order-third-img">
										<img class="rank_pho"
											src="http://img.kedo.tv/2c7b5b68ce3f4978df3fee6838ab7111"
											alt="昨天的事情"> <span class="thirdCrown"></span>
									</div>
									<div class="order-first-name">
										<span class="sec sprite activelevel-pic_activelevel_6"></span>昨天的事情
									</div>
									<div class="order-third-level">
										<span></span>
									</div>
								</a>

							</div>
							<div class="clear"></div>
							<div class="order-box-bottom">
								<ul>

									<li><a href="javascript:;"> <span class="number">4.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_5"></span>
											<span class="order-second-name">雅妹妹丶</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">5.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_5"></span>
											<span class="order-second-name">滋滋 ぃ</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">6.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_5"></span>
											<span class="order-second-name">软软丶</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">7.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_4"></span>
											<span class="order-second-name">杀手古德</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">8.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_4"></span>
											<span class="order-second-name">春天的雪花</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">9.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_4"></span>
											<span class="order-second-name">晒太阳一号</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">10.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_4"></span>
											<span class="order-second-name">治愈系❤楠楠</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">11.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_4"></span>
											<span class="order-second-name">污力大胸弟</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">12.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_4"></span>
											<span class="order-second-name">桃安</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">13.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_4"></span>
											<span class="order-second-name">小雨燕</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">14.</span>
											<span
											class="diamond sprite sprite activelevel-pic_activelevel_3"></span>
											<span class="order-second-name">Loong</span>
									</a></li>


								</ul>
							</div>
						</div>
						<div class="orderItem">
							<div class="order-box-top">
								<a href="javascript:;" class="order-box-second">
									<div class="order-second-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="secondCrown"></span>
									</div>
									<div class="order-second-name">梁胖胖跳脱衣舞</div>
									<div class="order-second-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-first">
									<div class="order-first-img">
										<img src="/skin/ym/images/fff1.png"> <span class="crown"></span>
									</div>
									<div class="order-first-name">梁胖胖跳脱衣舞</div>
									<div class="order-first-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-third">
									<div class="order-third-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="thirdCrown"></span>
									</div>
									<div class="order-third-name">梁胖胖跳脱衣舞</div>
									<div class="order-third-level">
										<span></span>
									</div>
								</a>
							</div>
							<div class="clear"></div>
							<div class="order-box-bottom">
								<ul>
									<li><a href="javascript:;"> <span class="number">4.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">5.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">6.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">7.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">8.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">9.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">10.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">11.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">12.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">13.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">14.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">15.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
								</ul>
							</div>
						</div>
						<div class="orderItem">
							<div class="order-box-top">
								<a href="javascript:;" class="order-box-second">
									<div class="order-second-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="secondCrown"></span>
									</div>
									<div class="order-second-name">梁胖胖跳脱衣舞</div>
									<div class="order-second-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-first">
									<div class="order-first-img">
										<img src="/skin/ym/images/fff1.png"> <span class="crown"></span>
									</div>
									<div class="order-first-name">梁胖胖跳脱衣舞</div>
									<div class="order-first-level">
										<span></span>
									</div>
								</a> <a href="javascript:;" class="order-box-third">
									<div class="order-third-img">
										<img src="/skin/ym/images/fff3.png"> <span
											class="thirdCrown"></span>
									</div>
									<div class="order-third-name">梁胖胖跳脱衣舞</div>
									<div class="order-third-level">
										<span></span>
									</div>
								</a>
							</div>
							<div class="clear"></div>
							<div class="order-box-bottom">
								<ul>
									<li><a href="javascript:;"> <span class="number">4.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">5.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">6.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">7.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">8.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">9.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">10.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">11.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">12.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">13.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">14.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
									<li><a href="javascript:;"> <span class="number">15.</span>
											<span class="order-second-name">坐看梁胖胖吃香</span>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>


		</div>
	</div>

<include file="Public/footer" />

</body>
</html>