<html>
<head>
<meta charset="UTF-8">
<title>商城</title>
<link href="__PUBLIC__/css/square.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/index.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
	<include file="Public/header" />

	<div class="head-outer btline">
		<div class="header clearFix">
			<a class="hd_bg fl" href="/"></a>
			<ul class="nav fl">
				<li class="fl "><a href="__MODULE__/Index/index">首页</a></li>
				<li class="fl "><a href="__MODULE__/Square/square">广场</a></li>
				<li class="fl cu"><a href="__MODULE__/'Mall/mall">商城</a></li>
				<li class="fl "><a href="__MODULE__/Order/order">排行榜</a></li>
			</ul>

			<include file="Public/head" />
		</div>
	</div>

	<div class="main-mall">
		<div class="mall-top">
			<div class="mall-top-title">
				<a href="{:U('Mall/mall')}" class=""> 守护</a>
			</div>
			<div class="mall-top-title">
				<a href="{:U('Mall/mall_prop')}" class="mselect"> 道具</a>
			</div>
			<div class="mall-top-title">
				<a href="{:U('Mall/mall_ride')}" class=""> 座驾</a>
			</div>
		</div>
		<div class="clear"></div>

		<!-- 道具-->
		<div class="mall-list">

			<div class="mall-box">
				<div class="mall-box-top">
					<div class="mall-gift-img">
						<img
							src="http://static.youku.com/ddshow/img/shopping/big/global-horn_1.png">
					</div>
					<div class="mall-gift-con">
						<div class="mall-gift-tit">全站喇叭</div>
						<div class="mall-gift-mid">男爵以上才可以购买</div>
						<div class="mall-gift-price">
							<span>5789</span><span>蝌蚪币</span><a href="{:U('Pay/pay')}"
								target="_blank" class="click">购买</a>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="mall-box-bot">
					<div class="bot_tit">全站喇叭</div>
					<div class="">1、公爵以上可用特殊礼物</div>
					<div class="">2、使用后可获得发言橙色炫光效果</div>
				</div>
			</div>

		</div>

		<div class="prop_tip">
			<h5>道具说明</h5>
			<p>公爵以上每月获赠免费道具一个，每一种道具对应相等级别，等级不同，购买的道具也不相同，道具可以赠送给主播或者普通用户，主播获得道具将可以兑换成现金普通用户收到道具后可以转赠给主播</p>
		</div>

	</div>
	<!--div class="zhezhao"></div-->

	<include file="Public/footer" />
</body>
</html>